html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 110, 255);
}

#info-icon {
    color: rgb(0, 110, 255);
    font-size: 32px;
    position: absolute;
    top: 14px;
    right: 16px;
}

#info-icon:active {
    font-size: 28px;
    position: absolute;
    top: 15px;
    right: 19px;
}

.wrapper {
    text-align: center;
    width: 100%;
}

.form-container {
    display: inline-block;
    width: 160px;
    text-align: left;
}

.form-container input {
    border: 3px solid #929191;
    border-radius: 7px;
    width: 93%;
    clear: both;
}

.results {
    width: 160px;
    text-align: center;
    margin-bottom: 10px;
}

.dictionary-btn {
    height: 28px;
    width: 154.5px;
    margin-bottom: 14px;
    background-color: rgb(197, 197, 197);
    border-style: doble;
    border-color: rgb(219, 219, 219);
    font-size: 12.9px;
    color: black;
}

#dictionaryBtn:hover {
    background-color: rgb(187, 184, 184);
}

#dictionaryBtn:active {
    border-style: hidden;
}

.buttons {
    background-color: rgb(197, 197, 197);
    border-style: doble;
    border-color: rgb(219, 219, 219);
    height: 28px;
    width: 68.5px;
}

#resetBtn {
    margin-right: 14px;
}

.buttons:active {
    border-style: hidden;
}

/*        --------pop up--------        */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    border-radius: 7px;
    width: 430px;
    height: 460px; /*470*/
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/* križec desno zgori*/
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 14px;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    opacity: 0.9;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    border-radius: 50%;
}

/* barva, opacity, funkcijonalnost ozadja ko je popup omogočen*/
.popup.active .overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.48;
    display: block;
}

.popup.active .content {
    transition: all 220ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.instructions {
    text-align: left;
}

.instructions-p-margin-top-bottom {
    margin: 6px 0px 6px;
}

.instructions-p-example {
    font-weight: bold;
    margin-bottom: 15px;
}

.instructions-p-bold {
    font-weight: bold;
}

.instruction-images {
    text-align: center;
}

/* če je screen width manjši od 460px naredi...*/
@media (max-width: 450px) {
    /*
    h1 {
        color: orange;
    }*/
    .popup .content {
        /*og širina x višina popupa: 430x640*/
        top: 50%;
        width: 360px;
        height: 440px;
    }
    .example-instructions-img {
        width: auto;
    }

    .popup .close-btn {
        top: 16px;
        right: 17px;
    }

    #info-icon {
        font-size: 27px;
        position: absolute;
        top: 17px;
        left: 16px;
    }

    #info-icon:active {
        font-size: 27px;
        position: absolute;
        top: 17px;
        left: 16px;
    }
}

@media (orientation: landscape) {
    /*
    h1 {
        color: green;
    }*/
    .popup .content {
        top: 50%;
    }
    #resetBtn:hover {
        color: rgb(223, 32, 32);
        background-color: rgb(187, 184, 184);
    }

    #submitBtn:hover {
        color: rgb(13, 156, 13);
        background-color: rgb(187, 184, 184);
    }
}

/* manjše od širine 360px npr.-> iPhone 5*/
@media (max-width: 370px) {
    /*
    h1 {
        color: black;
    }*/

    .popup .content {
        top: 50%;
        width: 310px;
        height: 420px;
    }

    .instructions-example-img {
        width: 270px;
        height: 48px;
    }

    .instructions-ltr-img {
        width: 127px;
        height: auto;
    }

    #info-icon {
        font-size: 22px;
        position: absolute;
        top: 18px;
        left: 3px;
    }

    #info-icon:active {
        font-size: 22px;
        position: absolute;
        top: 18px;
        left: 3px;
    }
}
