:root {
    --normal-black: #000000;
    --dark-black: #23272a;
    --dark-gray: #393d41;
    --light-gray: #6d6d6d;
    --blue: #006eff;
    --white: #ffffffff;
    --settings-icon-normal-color: #616161;
    --settings-icon-dark-color: #bbbbbb;
    --buttons-background-color-normal: #c5c5c5;
    --sun-moon-yellow: #eedf16;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: var(--blue);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: var(--white); /*barva ozadja*/
    color: var(--normal-black); /*text*/
    transition: background 0.2s linear;
}

.disable-text-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/*za text bliz labela settings*/
.not-clickable {
    pointer-events: none;
}

#info-icon {
    color: var(--blue);
    font-size: 32px;
    position: absolute;
    top: 14px;
    right: 16px;
    cursor: pointer;
}

#info-icon:active {
    font-size: 28px;
    position: absolute;
    top: 15px;
    right: 19px;
}

.form-container {
    display: inline-block;
    width: 160px;
    text-align: left;
}

.inp {
    width: 152px;
    outline: none; /*da se ne pojavi focus obroba na kliku*/
    border: 3px solid #949393;
    border-radius: 7px;
    clear: both;
}

.results {
    width: 160px;
    text-align: center;
    margin-bottom: 10px;
}

.dictionary-btn {
    height: 28px;
    width: 159px;
    margin-bottom: 16px;
    background-color: var(--buttons-background-color-normal);
    border-style: doble;
    border-color: var(--buttons-background-color-normal);
    font-size: 12.9px;
    color: black;
}

#dictionaryBtn:hover {
    background-color: rgb(187, 184, 184);
}

#dictionaryBtn:active {
    border-style: hidden;
}

.buttons {
    background-color: var(--buttons-background-color-normal);
    border-style: doble;
    border-color: var(--buttons-background-color-normal);
    height: 28px;
    width: 71px;
}

#resetBtn {
    margin-right: 14px;
}

.buttons:active {
    border-style: hidden;
}

/*        --------pop up--------        */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--white);
    border-radius: 7px;
    width: 430px;
    height: 460px; /*470*/
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: var(--normal-black);
}

/* križec desno zgori*/
.close-btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 14px;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    color: var(--normal-black);
    font-size: 35px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    border-radius: 50%;
}

/* barva, opacity, funkcijonalnost ozadja ko je popup omogočen*/
.popup.active .overlay {
    background-color: var(--normal-black);
    opacity: 0.48;
    display: block;
}

.popup.active .content {
    transition: all 220ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.instructions {
    text-align: left;
}

.instructions-p-margin-top-bottom {
    margin: 6px 0px 6px;
}

.instructions-p-example {
    font-weight: bold;
    margin-bottom: 15px;
}

.p-bold {
    font-weight: bold;
    color: var(--normal-black);
}

.instruction-images {
    text-align: center;
}

.instructions-ltr-img {
    margin-top: 7px;
}

.instructions-example-img {
    margin-bottom: 5px;
}

/*----SETTINGS----*/
.fa-gear {
    color: var(--settings-icon-normal-color);
    font-size: 26px;
    position: absolute;
    top: 17px;
    left: 17px;
    cursor: pointer;
}

#settings-icon:active {
    font-size: 28px;
}

.settings .settings-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.settings-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--white);
    border-radius: 7px;
    width: 310px;

    height: auto;
    min-height: 270px;

    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: var(--normal-black);
}

.settings-close-btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 14px;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    color: var(--normal-black);
    font-size: 35px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    border-radius: 50%;
}

/* barva, opacity, funkcijonalnost ozadja ko je popup omogočen*/
.settings.active .settings-overlay {
    background-color: var(--normal-black);
    opacity: 0.48;
    display: block;
}

.settings.active .settings-content {
    transition: all 220ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.toggle-advanced-mode {
    color: var(--normal-black);
    text-align: left;
    margin-top: 5px;
    font-size: 18px;
}

.toggle-dark-mode-text {
    color: var(--normal-black);
    text-align: left;
    margin-top: 50px;
    font-size: 18px;
    cursor: default;
}

.text-border {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: var(--normal-black);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.text-border-dark {
    border-color: var(--white);
}

.padding-inside {
    margin: 10px;
}

.dark-mode-info {
    position: relative;
}

/*pozicija modrega checkboxa za advanced mode*/
#advancedModeCheckbox {
    position: relative;
    top: 25px;
    left: 225px;
    width: 17px;
    height: 17px;
}

.image-margin-top {
    margin-top: 10px;
    text-align: center;
}

/* dark mode toggle*/
/*pozicija*/
.dark-mode-toggle {
    position: absolute;
    left: 200px;
    top: 1px;
    text-align: center;
}

.align-center {
    text-align: center;
}

.dark-mode-checkbox {
    opacity: 0;
    position: absolute;
}

/*polje za sredinsko kuglo*/
.dark-mode-label {
    width: 39px;
    height: 14px;
    background-color: #a3a3a3;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.dark-mode-checkbox:checked + .dark-mode-label .ball {
    transform: translateX(25px);
}

.fa-moon {
    color: var(--sun-moon-yellow);
}

.fa-sun {
    color: var(--sun-moon-yellow);
}
/*end of dark mode toggle*/
/*END OF SETTINGS*/

/* če je screen width manjši od 460px naredi...*/
@media (max-width: 450px) {
    /*
    h1 {
        color: orange;
    }*/
    .popup .content {
        /*og širina x višina popupa: 430x640*/
        top: 45%;
        width: 360px;
        height: 440px;
    }
    .example-instructions-img {
        width: auto;
    }

    .instructions-ltr-img {
        width: 150px;
        height: 34px;
    }

    .popup .close-btn {
        top: 16px;
        right: 17px;
    }

    #info-icon {
        font-size: 27px;
        position: absolute;
        top: 17px;
        right: 16px;
    }

    #info-icon:active {
        font-size: 26px;
        position: absolute;
        top: 17px;
        right: 16px;
    }

    #settings-icon {
        font-size: 22px;
        position: absolute;
        top: 19px;
        left: 15px;
    }

    #settings-icon:active {
        font-size: 21px;
    }

    .settings-content {
        top: 42%;
    }
}

@media (orientation: landscape) {
    /*
    h1 {
        color: green;
    }*/
    .popup .content {
        top: 50%;
    }
    #resetBtn:hover {
        color: rgb(223, 32, 32);
        background-color: rgb(187, 184, 184);
    }

    #submitBtn:hover {
        color: rgb(13, 156, 13);
        background-color: rgb(187, 184, 184);
    }
}

/* manjše od širine 360px npr.-> iPhone 5*/
@media (max-width: 370px) {
    /*
    h1 {
        color: black;
    }*/

    .popup .content {
        top: 50%;
        width: 310px;
        height: 420px;
    }

    .instructions-example-img {
        width: 270px;
        height: 48px;
    }

    .instructions-ltr-img {
        width: 127px;
        height: auto;
    }

    #info-icon {
        font-size: 22px;
        position: absolute;
        top: 19px;
        right: 3px;
    }

    #info-icon:active {
        font-size: 22px;
        position: absolute;
        top: 18px;
        right: 3px;
    }

    #settings-icon {
        font-size: 22px;
        position: absolute;
        top: 19px;
        left: 4px;
    }

    #settings-icon:active {
        font-size: 21px;
    }
    .settings-content {
        top: 47%;
        width: 90%;
    }
}

/*VSE ZA DARK MODE*/
.dark-body {
    background-color: var(--dark-gray);
    color: var(--white);
}

.dark-input-field {
    color: var(--white);
    border: 3px solid var(--dark-black);
    background-color: var(--light-gray);
}

.dark-settings-icon {
    color: var(--settings-icon-dark-color);
}

.dark-popup {
    background-color: var(--normal-black);
    color: var(--white);
}

.dark-p-bold {
    color: var(--white);
}

.dark-close-btn {
    color: var(--white);
}

.hidden {
    visibility: hidden;
    display: none;
}

.dark-dark-mode-label {
    background-color: #504f4f;
}

.dark-mode-buttons-color {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
    color: var(--white);
}

.dark-mode-buttons-color:hover {
    background-color: #7a7a7a !important;
}
/*konec sprememb za dark mode*/
